* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  background-color: #ff6900;

  width: 100%;
  padding: 25px;

  position: fixed;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 2px #b9b9b9;
}

.logo {
  width: 175px;
}

.header ul {
  list-style-type: none;
  font-size: 1.4rem;
  display: flex;
}

.header ul li a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 0 5px;
}

/* MAIN */

.main {
  background-color: #ffffff;

  width: 70%;
  padding-top: 200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* CARD */

.text-card > h5 {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 2px 0;
}

.text-card > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2px 0;
}

.red-price {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2px 5px 0 0;
  color: red;
}

.line-through-text {
  text-decoration-line: line-through;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2px 0 0 0;
}

.img-card {
  position: relative;
}

.discount {
  position: absolute;
  left: 0;
  bottom: 60px;

  z-index: 1;

  padding: 10px 15px;
  color: white;
  background-color: red;

  font-weight: bold;
  font-size: 1.2rem;
}

.green {
  position: absolute;
  left: 80px;
  bottom: 60px;

  z-index: 1;

  padding: 10px 15px;
  color: white;
  background-color: green;

  font-weight: bold;
  font-size: 1.2rem;
}

.heart {
  position: absolute;
  right: 0px;
  top: 20px;

  z-index: 1;

  padding: 20px;
  color: black;
  background-color: white;

  font-size: 2.5rem;
}

/* HOVER */

.heart:hover {
  color: red;
}
