* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

img {
  max-width: 100%;
}

/* HEADER */

.header {
  background-color: #ff6900;

  width: 100%;
  padding: 25px;

  position: fixed;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 2px #b9b9b9;
}

.logo {
  width: 175px;
}

.header ul {
  list-style-type: none;
  font-size: 1.4rem;
  display: flex;
}

.header ul li a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

/* MAIN */

.main {
  background-color: #ffffff;

  width: 70%;
  padding-top: 200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
